html,
body {
  height: 100%;
  margin: 0;
  padding: 1rem;
  --blue: #003049;
  --red: #d62828;
  --orange: #f77f00;
  --yellow: #fcbf49;
  --beige: #eae2b7;
  background-color: var(--beige);
  text-align: center;
}

* {
  box-sizing: border-box;
}

section {
  height: 100%;
  border: 1px dotted black;
}

.box {
  height: 4rem;
  width: 4rem;
}

.fixed-wrapper {
  color: var(--blue);
}

.fixed-wrapper .box {
  background-color: var(--blue);
}

.absolute-wrapper {
  color: var(--red);
}

.absolute-wrapper .box {
  background-color: var(--red);
}

.sticky-wrapper {
  color: var(--orange);
}

.sticky-wrapper .box {
  background-color: var(--orange);
}

.relative-wrapper {
  color: var(--yellow);
}

.relative-wrapper .box {
  background-color: var(--yellow);
}
