<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Positioned Layout</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      /*
        POSITIONED LAYOUT
        - allows you to use the top, bottom, left, and right props
        (which normally would do nothing)
        - have to set position property to something
      */
      /*
        RELATIVE POSITIONING
        positions element relative to where
        it would normally be in flow
      */
      .relative {
        position: relative;
        left: -50px;
        bottom: 10px;
      }
      /*
        FIXED POSITIONING
        positions element in relation to the screen
        (element always stays there)
      */
      .fixed {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 2; /* changes stacking order */
      }

      /*
        ABSOLUTE POSITIONING
        positions element in relation to its container
        - by default, container is screen
        - if a parent is using positioned layout,
        that will become the container
      */
      .absolute {
        position: absolute;
        top: -20px;
        right: -20px;
        z-index: 1;
      }

      /* create a positioned container for absolute */
      .absolute-wrapper {
        position: relative;
      }

      /* STICKY POSITIONING
         element gets positioned like normal,
         then sticks in place after reaching the
         specified positon as long as container is
         on screen
      */
      .sticky {
        position: sticky;
        top: 0;
      }
    </style>
  </head>
  <body>
    <section class="relative-wrapper">
      <h2>Relative Position</h2>
      <div class="box relative"></div>
    </section>
    <section class="sticky-wrapper">
      <h2>Sticky Position</h2>
      <div class="box sticky"></div>
    </section>
    <section class="fixed-wrapper">
      <h2>Fixed Position</h2>
      <div class="box fixed"></div>
    </section>
    <section class="absolute-wrapper">
      <h2>Absolute Position</h2>
      <div class="box absolute"></div>
    </section>
  </body>
</html>