/* Strip some default values */
html, body {
  margin: 0;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

/* Style Tokens 
  - set all css variables on the root element
  - syntax for css variables: 
         --VARIABLE-NAME: VALUE;
  - syntax for consuming a css variable: 
         var(--VARIABLE-NAME)
*/
html {
  /* define our color palette */
  --color-primary: hsl(60, 100%, 100%);
  --color-secondary: hsl(230, 58%, 82%);
  --color-tertiary: hsl(351, 60%, 83%); 
  --color-bg: hsla(230, 33%, 21%, 100%);

  /* spacing unit */
  --spacing: 30px;
  --font: "Poppins", "Roboto", sans-serif;

  --shadow-color: 222deg 96% 17%;
  --shadow-elevation-low:
    0.1px 0.3px 0.4px hsl(var(--shadow-color) / 0.4),
    0.2px 0.6px 0.7px -1.2px hsl(var(--shadow-color) / 0.4),
    0.4px 1.4px 1.6px -2.5px hsl(var(--shadow-color) / 0.4);
  --shadow-elevation-medium:
    0.1px 0.3px 0.4px hsl(var(--shadow-color) / 0.42),
    0.3px 1.1px 1.3px -0.8px hsl(var(--shadow-color) / 0.42),
    0.8px 2.9px 3.4px -1.7px hsl(var(--shadow-color) / 0.42),
    2.1px 7px 8.2px -2.5px hsl(var(--shadow-color) / 0.42);
  --shadow-elevation-high:
    0.1px 0.3px 0.4px hsl(var(--shadow-color) / 0.39),
    0.6px 2.1px 2.5px -0.4px hsl(var(--shadow-color) / 0.39),
    1.2px 4.1px 4.8px -0.7px hsl(var(--shadow-color) / 0.39),
    2px 6.7px 7.9px -1.1px hsl(var(--shadow-color) / 0.39),
    3.2px 10.7px 12.6px -1.4px hsl(var(--shadow-color) / 0.39),
    5px 16.8px 19.7px -1.8px hsl(var(--shadow-color) / 0.39),
    7.6px 25.6px 30px -2.1px hsl(var(--shadow-color) / 0.39),
    11.2px 37.7px 44.2px -2.5px hsl(var(--shadow-color) / 0.39);
}

body {
  padding: var(--spacing) calc(2 * var(--spacing));
  color: var(--color-secondary);
  /* background-color: var(--color-bg); */
  /* constrain the max-width of the body text */
  max-width: 60ch;
  font-family: var(--font);
  background-image: linear-gradient(
  160deg,
  hsl(240deg 100% 20%) 0%,
  hsl(249deg 97% 24%) 14%,
  hsl(254deg 94% 27%) 30%,
  hsl(257deg 90% 31%) 47%,
  hsl(260deg 86% 35%) 62%,
  hsl(262deg 84% 40%) 75%,
  hsl(264deg 82% 44%) 85%,
  hsl(266deg 80% 48%) 92%,
  hsl(267deg 86% 52%) 97%,
  hsl(269deg 100% 56%) 100%
);
}

.title, .author {
  color: var(--color-primary);
}

.title {
  font-weight: 900;
  /* px are fixed units - same on all devices 
    rem - ratio in relation to the root element font size
  */
  font-size: 3rem;
  line-height: 1;
}

.author {
  font-style: italic;
  font-size: 1.5rem;
}

.author a {
  color: var(--color-tertiary);
}

.date {
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 200;
}

button {
  width: 100%; 
  padding: var(--spacing) 0;
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-radius: 10px;
  border: none;
  /* set an element to have the text properties of its container 
    using the inherit keyword
  */
  font-family: inherit;
  font-size: inherit;
  box-shadow: var(--shadow-elevation-medium);
}

.spacer {
  height: var(--spacing);
}
